/* external font useage */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    top: 0;
    overflow-x: hidden;
}

/* header part styles started  */
header{
    background-color: rgba(30, 30, 177, 0.849);
    height: 591px;  
}
nav , .header_main_content{                            /* header Main content style added here */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 27px;
}
.menu{
    margin-right:190px ;
}
.menu ul li{
    list-style: none;
    
}
.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin-left:36px ;
    
}
.menu ul li a:hover{
    border-top: 3px solid white;
   
    
}

.login_btn{
    text-decoration: none;
    font-size: 16px;
    background-color: #E02C6D;
   padding: 7px 26px; 
   color: #ffffff; 
   border-radius: 5px; 
 
}
.login_btn:hover{
    background-color: rgb(166, 184, 63);    
    transition: all 0.3s ease-in-out 0.1s;
    font-size: 17px;
}

.fa-sign-in-alt{
    margin-right: 12px;
}

/* Header section content style start  */
.header_main_content{
    margin-left: 80px;
}
.header_info h1{
    color: #ffffff;
    font-size: 64px;
}
.header_info a {
    text-decoration: none;
    background: #E02C6D;
    padding: 7px 25px;
    color: #ffffff;
    border-radius: 5px;
}
.header_info a:hover{
    background-color: rgb(166, 184, 63);    
    transition: all 0.3s ease-in-out 0.1s;
    font-size: 17px;
}


.header_info .fa-arrow-right{
    margin-left: 8px;
}
.header_banner img{
    height: 442px;
    width: 556px;   
    
}

/* Player part started styling  */

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);    
    width: 1050px;
    margin-left: 250px;
    margin-top: 50px;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    
}
.players{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    padding: 15px;
    border-radius: 10px;
    
}
.player img{
    width: 310px;
    height: 255px;
}

.player_info p{
    font-size: 16px;
    color: #6C6C6C;
}

/* Shop now section started  */
.shop_section{
    margin-top: 100px;
    background-color: rgba(8, 35, 110, 0.685);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}.shop_content{
    color: #ffffff;
}
.shop_content h1{
    font-size: 50px;
}
.shop_content h3{
    font-size: 25px;
}
.shop_content a{
    text-decoration: none;
    color: #ffffff;
    background: #E02C6D;
    padding: 9px 24px;
    border-radius: 10px;
    
}
.shop_content a:hover{
    background-color: rgb(166, 184, 63);    
    transition: all 0.3s ease-in-out 0.1s;
    font-size: 17px;
}
.fa-shopping-cart{
    margin-left: 10px;
}
.shop_banner img{
    width: 800px;
}

/* news section started  */
.news_section{
    margin-top: 50px;
}
.news_heading{
    text-align: center;
    font-size: 30px;
}

.news_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 15px;
}
.newses{
    width: 90%;
    padding: 30px;
}
.news_banner img{
    width: 300px;
    border-radius: 15px;
}
.news_info{
    display: flex;
    justify-content: space-between;
}
.fa-futbol{
    margin-right: 5px;
}

/* match section started  */
.match_section{
    margin-top: 50px;
}
.match{
    display: flex;
    
}
.match_content{
    width: 50%;
    margin-left:100px ;
}
.match_content h1{
    font-size: 50px;
}
.match_content p{
    font-size: 16px;
    color: #6C6C6C;
}
.match_content a{
    text-decoration: none;
    background: #E02C6D;
    padding: 7px 25px;
    color: #ffffff;
    border-radius: 5px;
}
.match_content a:hover{
    background-color: rgb(166, 184, 63);    
    transition: all 0.3s ease-in-out 0.1s;
    font-size: 17px;
}
.match_banner img{
   width: 560px;
  
}

/* Footer part started  */
footer{
    margin-top: 150px;
}
.footer_logo{
    text-align: center;
}
.footer_logo img{
    width: 480px;    
}
.social_icon{
    text-align: center;
} 
.social{
    padding: 10px;    
    background-color: gray;
    border-radius: 50%;
    margin: 10px;
    transition: all 0.3s;
}
.social:hover{
    background-color: burlywood;
    cursor: pointer;
}
/* Responsive making started here  */

@media only screen and (max-width: 668px) {


    /* header part media quary  */
    header{        
        height: 800px;
    }
    nav{
        display: none;
    }

    .header_main_content{
        flex-direction: column;
        margin-left: 2px;
    }
    .header_info h1{
        font-size: 30px;
    }
    .header_banner img{
        width: 329px;
        margin-top: 50px;
    }
/* player part starter  */
.container{
    grid-template-columns: repeat(1, 1fr);
    width: 300px;
    grid-row-gap: 30px;
    margin-left: 20px;
    
    
}
.player img{
    width: 300px;
}

/* shop section started  */
 .shop_section{
     flex-direction: column;
     
 }
 .shop_banner img{
     width: 400px;
     margin-top: 50px;
     margin-right: 100px;
 }

 /* news section started  */
 .news_heading{
     text-align: left;
 }
 .news_container{
     grid-template-columns: repeat(1,1fr);
 }
 /* match section started  */
 .match{
     flex-direction: column;
 }
 .match_content{
    width: 100%;
    margin-left:0 ;
}
.match_content p{
    font-size: 14px;
    color: #6C6C6C;
}
 .match_banner img{
    width: 400px;
    margin-top: 30px;
   
 }

 /* footer started  */
 .footer_logo{
    text-align: center;
}
.footer_logo img{
    width: 300px;    
}
.social_icon{
    text-align: center;
} 
 
}

/* Responsive for tablet  */

@media only screen and (min-width:688px)and (max-width:992px){
    /* header part start  */
    header{
        width: 100%;
        height: 600px;
    }
    nav{
        display: none;
    }
    .header_info h1{
        font-size: 40px;
    }
    .header_banner img{
        width: 329px;
        margin-top: 50px;
    }
    /* player section start  */

    .container{
        grid-template-columns: repeat(1, 1fr);
        width: 330px;
        grid-row-gap: 30px;
        margin-left: 200px;
        
    }
    /* shop section started  */
    .shop_banner img{
        width: 350px;
    
    }
    .shop_content h1 {
        font-size: 45px;
    }
   .shop_content h3{
       font-size: 27px;
   }

   /* news section started  */
   .news_container{
       grid-template-columns: repeat(2,1fr);
   }
   
   /* match section started  */
   .match_content{
    width: 50%;
    margin-left:10px ;
}
   .match_content h1{
    font-size: 35px;
}
.match_banner img{
    width: 350px;
   
 }
}

